body{
    background-color: rgb(215, 166, 228);
}

h1{
    color: rgb(95, 93, 223);
    font-family: 'Times new roman';
    text-align: center;
    font-size: 78px;

}

h2{
    color: rgb(185, 119, 182);
    font-family: 'Times new roman';
    text-align: center;
    font-size: 65px;

}

p{
    color: rgb(194, 100, 100);
    font-size: 37px;
    text-align: center;
    line-height: 1.5;
    
}

div{
    margin: 35px;
    color: rgb(218, 135, 135);
    font-family: 'Times new roman';
}