body{
    background-color: #643870;
}

h1{
    color: #aaaadb;
    font-family: 'Times new roman';
    text-align: center;
    font-size: 78px;

}

h2{
    color: #ffffff;
    font-family: 'Times new roman';
    text-align: center;
    font-size: 65px;

}

p{
    color: #efefef;
    font-size: 37px;
    text-align: center;
    line-height: 1.5;
    
}

div{
    margin: 35px;
    color: #a497f2;
    font-family: 'Times new roman';
}