body{
    background-color: #643870;
}

h1{
    color: #aaaadb;
    font-family: "Times New Roman", Times, serif, cursive;
    text-align: center;
    font-size: 78px;

}

h2{
    color: #ffffff;
    font-family: 'Courier New';
    text-align: center;
    font-size: 20px;

}

p{
    color: #efefef;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    
}

div{
    margin: 35px;
    color: #a497f2;
    font-family: 'Times new roman';
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }