body{ background-color: #cb71ff; text-align: center;}
div{ background-color: #643bd4c3; padding: 40px;}
#parr1{ font-size: 50px; font-weight: bold; color:#e797c0;}
#parr2{ font-size: 50px; font-weight: bold; color:#ebb7d9;}
h1{color: #ffffff;}