body{
    background-color: rgb(248, 207, 245);
    padding-top: 80px;
}

h1{
    color: #9144d4;
    font-family: 'Times new roman';
    text-align: center;
    font-size: 60px;

}

h2{
    color: #d444ab;
    font-family: 'Times new roman';
    text-align: center;
    font-size: 50px;

}

p{
    color: #000000;
    font-size: 25px;
    text-align: center;
    line-height: 1;
    
}

.fotos{
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}